.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .search-bar input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }

  .announces-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .announce-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
  }

  .link-item {
    color: white;
    text-decoration: none;
  }
  